a
{
  text-decoration: none;
  font-weight: 700;
}
body
{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer a
{
  color: #ffab40;
}
main
{
  flex: 1 0 auto;
}
.classtitle
{
  text-transform: capitalize;
}
.hoverpointer
{
  cursor: pointer;
}
